page-create-user {

    .button{
        padding: 25px;
        background-color: rgb(161, 160, 160);
    }
    .container-buttons{
        width: 100%;
        text-align: center;
        margin-top: 15px;
    }
    .input{
        padding-top:15px;
    }
}
