<ion-content padding>



<!-- 
            <ion-list *ngFor="let client of clientDb">
                <ion-card>
                    <ion-card-content>
              <ion-thumbnail item-start>
                <img class="img-start" src="assets/imgs/minhaoficina.jpg">
              </ion-thumbnail>
              <h2>{{client.fantasia}}</h2>
              <h3>{{client.categoria}}</h3>
              <p>{{client.cidade}} {{client.rua}}</p>
              <p>{{client.bairro}}</p>
              <p>{{client.cep}}</p>
              
            </ion-card-content>
          </ion-card>
          </ion-list> -->


          <ion-searchbar (ionInput)="getItems($event)"></ion-searchbar>

          <ion-list *ngFor="let client of clientDb">
          <ion-card>
              <img class="img-start" src="assets/imgs/minhaoficina.jpg">
              <ion-card-content>
                <ion-card-title>
                    {{client.fantasia}}
                  </ion-card-title>
                  <h2>{{client.categoria}}</h2>
                  <p>{{client.rua}}, {{client.cidade}}</p>
                  <p>{{client.bairro}}</p>
                  <p>{{client.numero}}</p>
              </ion-card-content>
            </ion-card>
          </ion-list>
      




  <button ion-button round [navPush]="'create-client'">Criar conta</button>
  <button ion-button round (click)="logout()">Logout</button>
  <button ion-button round [navPush]="'profile-page'">Profile</button>
  <button ion-button round [navPush]="'imagemteste'">imagem</button>
  <button ion-button round [navPush]="'filter'">Filtro de busca</button>
  


</ion-content>