<!-- Generated template for the CreateClientFormComponent component -->
<div>


  <form novalidate [formGroup]="createClientForm" (ngSubmit)="cadastrarCliente()">

  <ion-item>
    <ion-input type="text" placeholder="Razão Social" formControlName="razaosocial"></ion-input>
  </ion-item>

  <ion-item>
    <ion-input type="text" placeholder="Fantasia" formControlName="fantasia"></ion-input>
  </ion-item>

  <ion-item>
    <ion-input type="number" placeholder="CNPJ" formControlName="cnpj"></ion-input>
  </ion-item>

  <ion-item>
    <ion-input type="number" placeholder="CEP" formControlName="cep" (ionBlur)="buscaCep()"></ion-input>
  </ion-item>

  <ion-item>
    <ion-input type="text" placeholder="Rua" formControlName="rua" disabled></ion-input>
  </ion-item>

  <ion-item>
    <ion-input type="number" placeholder="Número" formControlName="numero"></ion-input>
  </ion-item>

  <ion-item>
    <ion-input type="text" placeholder="Bairro" formControlName="bairro" disabled></ion-input>
  </ion-item>

  <ion-item>
    <ion-input type="text" placeholder="Cidade" formControlName="cidade" disabled></ion-input>
  </ion-item>

  <ion-item>
    <ion-input type="text" placeholder="Estado" formControlName="estado" disabled></ion-input>
  </ion-item>

  <ion-item>
      <ion-input type="tel" placeholder="Telefone" formControlName="telefone"></ion-input>
    </ion-item>

  <ion-item>
    <ion-label>Categoria</ion-label>
    <ion-select formControlName="categoria" multiple="true" cancelText="Voltar" okText="Ok" placeholder="Selecione">
      <ion-option value="mecanica">Mecânica</ion-option>
      <ion-option value="eletrica">Elétrica</ion-option>
      <ion-option value="lanternagem">Lanternagem</ion-option>
      <ion-option value="comercio-pneu">Comércio de Pneu</ion-option>
      <ion-option value="borracharia">Borracharia</ion-option>
      <ion-option value="acessorios">Acessórios</ion-option>
    </ion-select>
  </ion-item>

  

  <button type="submit" ion-button round block [disabled]="createClientForm.invalid">Salvar</button>


  <button ion-button round (click)="getPhoto()">TirarFoto</button>
  
</form>


</div>

<ion-item>
  <ion-label fixed>Avatar</ion-label>
  <ion-avatar item-end>
    <img src="{{imgPreview}}" (click)="getPhoto()">
  </ion-avatar>
</ion-item>

<ion-item>
  <p>{{imageURI}}</p>
  <button ion-button color="secondary" (click)="getImage()">Get Image</button>
</ion-item>
<ion-item>
  <h4>Image Preview</h4>
  <img src="{{imageFileName}}" *ngIf="imageFileName" alt="Ionic File" width="300" />
</ion-item>
<ion-item>
  <button ion-button (click)="uploadFile()">Upload</button>
</ion-item>