<!-- Generated template for the CreateClientFormComponent component -->
<div>
  <form novalidate [formGroup]="createClientForm" (ngSubmit)="cadastrarCliente()">

  <ion-item>
    <ion-input type="text" placeholder="Razão Social" formControlName="razaosocial"></ion-input>
  </ion-item>

  <ion-item>
    <ion-input type="text" placeholder="Fantasia" formControlName="fantasia"></ion-input>
  </ion-item>

  <ion-item>
    <ion-input type="number" placeholder="CNPJ" formControlName="cnpj"></ion-input>
  </ion-item>

  <ion-item>
    <ion-input type="number" placeholder="CEP" formControlName="cep" (ionBlur)="buscaCep()"></ion-input>
  </ion-item>

  <ion-item>
    <ion-input type="text" placeholder="Rua" formControlName="rua" disabled></ion-input>
  </ion-item>

  <ion-item>
    <ion-input type="number" placeholder="Número" formControlName="numero"></ion-input>
  </ion-item>

  <ion-item>
    <ion-input type="text" placeholder="Bairro" formControlName="bairro" disabled></ion-input>
  </ion-item>

  <ion-item>
    <ion-input type="text" placeholder="Cidade" formControlName="cidade" disabled></ion-input>
  </ion-item>

  <ion-item>
    <ion-input type="text" placeholder="Estado" formControlName="estado" disabled></ion-input>
  </ion-item>

  <ion-item>
      <ion-input type="tel" placeholder="Telefone" formControlName="telefone"></ion-input>
    </ion-item>

  <ion-item>
    <ion-label>Categoria</ion-label>
    <ion-select formControlName="categoria" multiple="true" cancelText="Voltar" okText="Ok" placeholder="Selecione">
      <ion-option value="mecanica">Mecânica</ion-option>
      <ion-option value="eletrica">Elétrica</ion-option>
      <ion-option value="lanternagem">Lanternagem</ion-option>
      <ion-option value="comercio-pneu">Comércio de Pneu</ion-option>
      <ion-option value="borracharia">Borracharia</ion-option>
      <ion-option value="acessorios">Acessórios</ion-option>
    </ion-select>
  </ion-item>

  <button type="submit" ion-button round block [disabled]="createClientForm.invalid">Salvar</button>
</form>
</div>