page-filter {

    .button{
        margin-bottom: 15px;
        padding: 25px;
        background-color: rgb(161, 160, 160);
    }

    .container-buttons{
        width: 100%;
        text-align: center;
        margin-top: 30px;
    }


    .ion-select{
        padding-top: 150px;
    }
}
