page-home {

    .button{
        margin-bottom: 15px;
        padding: 25px;
        background-color: rgb(161, 160, 160);
    }

    .container-buttons{
        width: 100%;
        text-align: center;
        margin-top: 15px;
    }
    .img-home{
        width: 30%;
        display: block;
        margin-left: auto;
        margin-right: auto;
        margin-top: 130px;
        margin-bottom: 80px;
    }
    .input{
        padding-top: 15px;
    }

}

